/*TODO in small screens the portafolio link in the burger get you 1px lower than it should*/
/*TODO finish the gallery*/
/*TODO apply color palette*/

@import 'normalize.css';
@import 'booty.css';

html{
  height: 100%;
}
body{
  height: 100%;
	position: relative;
}

/*a little less padding in the bar when the screen is small*/
div.container-fluid{
  padding-left: 12px;
  padding-right: 12px;
}

/*web's logo*/
a.navbar-brand{
  font-size: 15px;
	font-variant: small-caps;
  line-height: 18px;
  padding-right: 0;
}

/*navigation bar when the screen is medium*/
@media only screen and (min-width: 410px){
  a.navbar-brand{
    font-size: 20px;
  }
}

/*navigation bar when the screen is big*/
@media only screen and (min-width: 768px){
  div.container-fluid{
    padding-left: 25px;
    padding-right: 25px;
  }
  nav.navbar{
    background-color: transparent;
    border-bottom-color: transparent;
  }
  a.navbar-brand{
    font-size: 24px;
  }
  a.navbar-brand.shrink{
    font-size: 20px;
  }
  #my-navbar{
    font-size: 18px;
  }
}
/*chequear!*/
.navbar-collapse{
  border-top: 1px solid #f3ffbd !important;
  box-shadow: none !important;
}

/*this happens when you scroll*/
nav.shrink{
  background-color: #ff1654;
  opacity: 1;
}
.shrink#my-navbar{
  font-size: 14px;
}

/*hamburger button*/
.glyphicon{
  color:#9d9d9d;
}

/*this happens to the hamburger when the screen get too small*/
#overrides .navbar-toggle{
  border-color: #777;
  margin-bottom: 5px;
  margin-top: 5px;
}

/* intro: image + short bio*/
header{
  position: relative;
	text-align:center;
    z-index: 100;
}

.img-resp{
  display:block;
  height: auto;
  max-width: 100%;
}

header img{
	margin:0 auto 40px;
}
/*when the screen is small*/
@media only screen and (max-width: 410px){
  header .img-resp{
    margin:0 auto 22px;
    max-width: 90%;
  }
}

/*intro's div.container*/
header .container{
  padding-bottom: 10px;
	padding-top:75px;
}
/*div.container when the screen is medium*/
@media only screen and (min-width: 410px){
  header .container{
    padding-bottom: 0;
    padding-top:110px;
  }
}
/*div.container when the screen is big*/
@media only screen and (min-width: 768px){
  header .container{
    padding-bottom: 0;
    padding-top:150px;
  }
}
#intro-text {
  color:#f3ffbd;
}

#my-name{
	font-family: 'Roboto', sans-serif;
  font-size: 4em;
	font-weight: 900;
}
/*my-name when the screen is small*/
@media only screen and (max-width: 410px){
  #intro-text{
    line-height: 1.24;
  }
  #my-name{
    font-size: 3em;
  }
  hr#intro-line{
    margin:10px auto 15px;
  }
}
#intro-line{
	border:solid 4px;
  margin:25px auto 30px;
	max-width:45%;
}
#my-info{
	font-family: 'Roboto', sans-serif;
  font-size: 175%;
	font-weight: 500;
}

/*every section: portafolio, perfil, contacto*/
section{
  background-color: #b2dbbf;
  display:block;
  margin-top: -50px;
  position: relative;
}
.no-pad>[class*=col-]{
  padding-left:0;
  padding-right:0;
}

#perfil{/*display:block;*/
  color: #247ba0;
  padding-bottom: 50px;
  padding-top: 50px;
  text-align: center;
  z-index: 80;
}
#perfil-h1{
	font-family: 'Roboto', sans-serif;
  font-size: 4em;
	font-weight: 900;
  margin-bottom: 50px;
  margin-top: 75px;
}
#perfil-h1 span{
  border-bottom: 10px solid #247ba0;
}
/*perfil-h1 when the screen is small*/
@media only screen and (max-width: 410px){
  #perfil-h1{
    font-size: 3em;
  }
}
.skills{
  background-color: #70c1b3;
  border-radius: 20px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin: 10px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}

#portafolio{
  background-color: #f3ffbd;
  padding-top: 100px;
  z-index: 60;
}
#portafolio-h1{
  color: #ff1654;
  margin-bottom: 60px;
  padding-top: 25px;
  font-family: 'Roboto', sans-serif;
  font-size: 4em;
  font-weight: 900;
  text-align: center;
}
#portafolio-h1 span{
  border-bottom: 10px solid #ff1654;
}

#contacto{
	display:block;
	height: 500px;
  padding-top: 100px;
  z-index: 40;
}
#contacto-h1{
  color: #247ba0;
  margin-bottom: 60px;
  padding-top: 25px;
  font-family: 'Roboto', sans-serif;
  font-size: 4em;
  font-weight: 900;
  text-align: center;
}
#contacto-h1 span{
  border-bottom: 10px solid #247ba0;
}

footer{
  background-color: #f3ffbd;
  height: 500px;
}

/*for small screens*/
.parallax{
  background-attachment:scroll;
  background-image: url(../images/extra/bg2.jpg);
}
/*for big screens*/
@media only screen and (min-width: 411px){
  header.parallax{
    background-attachment: fixed;
    background-image: url(../images/extra/bg1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 85%;
  }
}

.port-cover{
  background-color: rgb(127,127,127);
  background-color: rgba(127,127,127,.5);
  cursor: pointer;
  display: block;
  height: 100%;
  opacity: 0;
  position: absolute;
  transition: 0.5s;
  width: 100%;
  z-index: 2;
}
.port-cover span{
  color: white;
  margin-top: -34px;
  pointer-events: none;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.port-cover:hover{
  opacity: 1;
}

.modal{
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
  display:none;
  height: 100%;
  left: 0;
  overflow: auto;
  padding-top: 57px;
  position:fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.modal-content{
  display:block;
  margin:auto;
  max-width: 800px;
  width:100%;
}
#caption{
  color: #fff;
  display: block;
  height: 150px;
  margin:auto;
  max-width: 800px;
  padding:10px 0;
  text-align: center;
  width: 80%;
}

.modal-content,
#caption{
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  animation-name: zoom;
  -webkit-animation-name: zoom;
}
@-webkit-keyframes zoom{
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}
@keyframes zoom{
  from {transform:scale(0)}
  to {transform:scale(1)}
}

.close-modal{
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  right: 30px;
  top: 0;
  transition: 0.3s;
}
.close-modal:hover,
.close-modal:focus{
  color: #9d9d9d;
  cursor: pointer;
  text-decoration: none;
}
@media only screen and (min-width: 768px){
  .modal-content{
    width: 80%;
  }
}
